.ARMSimLayout.xml
clangd/
dconf/
fontconfig/
kconf_updaterc
kde.org/
kdeglobals
libreoffice/
mimeapps.list
pulse/
script/
spotify/
systemd/
teams-for-linux/
trashrc
wireshark/
nvim/lazy-lock.json
discord/
tlpui/
discordcanary/
Kingsoft/
whatsapp-for-linux/
nvim/lazy-lock.json
Electron/
wandb/
QtProject.conf
audacity/
sonic-visualiser/
vlc/
rofi/
htop/
torbrowser/
Kitware/
ranger/
btop/
ags/
bluetuith/
nautilus/
gtk-3.0/
xsettingsd/
Hyprland-xdg-terminals.list
pavucontrol.ini
xdg-terminals.list
BetterDiscord/
go/
gtk-4.0/
libadwaita-tc.py
nwg-look/
VirtualBox/
gBar/
github-copilot/
user-dirs.dirs
user-dirs.locale
zed/
cosmic/
Windsurf/
obsidian/
nautilus/
