dconf/
libreoffice/
systemd/
wireshark/
discord/
QtProject.conf
btop/
bluetuith/
nautilus/
gtk-3.0/
xsettingsd/
gtk-4.0/
libadwaita-tc.py
nwg-look/
Windsurf/
obsidian/
nautilus/
qBittorrent/
syncthing-gtk/
hayase/
assets
wallpapers/
go/
mozilla/
pulse/
unity3d/
