window {
margin: 0px;
border: 1px solid #5548a8;
border-radius: 7px;
background-color: #0f1454;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #192078;
}

#inner-box {
margin: 5px;
border: none;
background-color: #0f1454;
}

#outer-box {
margin: 5px;
border: none;
background-color: #0f1454;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #192078;
border-radius:5px;
}
